body {
  margin: 2em;
  background-color: black;
}

.section {
  background-color: #888;
  padding: 2em;
  text-align: center;
  border-radius: 10px;
  border: 1px solid white;
}

.system-info {
  height: 15vh;
}

.system-banner {
  height: 15vh;
}

.system-title {
  background-color: #666;
  font-size: 3vh;
  text-align: center;
  color: white;
  border-radius: 5px;
  border: 1px solid #222;
}

.system-banner {
  height: 15vh;
  border-radius: 5px;
}

.game {
  text-align: start;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: white;
}

.not-selected {
  background-color: #ccc;
  color: black;
}

#selected {
  border-top: 3px solid #444;
  border-bottom: 3px solid #444;
  background-color: #384862;
}

.arrow {
  font-size: 0.75em;
  vertical-align: middle;
}

.vertical-spacer {
  margin: 0;
  padding: 2.75vh;
}

.game-list {
  height: 60vh;
  overflow-y: scroll;
  border-radius: 0.5em;
  border: 1px solid #aaa;
}

.game-image {
  margin: 1vh;
  height: 30vh;
  width: auto;
}

.menu-popover {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  margin-bottom: 10vh;
  width: 80vw;
}

.menu-item {
  padding: 1em;
  color: white;
  border: none;
  border-top: none;
  border-bottom: none;
}

.menu-selected {
  border: 1px solid black;
  background-color: #384862;
  box-shadow: inset -2px -2px 30px #666;
}

/* I hate CSS */
.menu-not-selected-first-item {
  background-color: #999;
  border: 1px solid black;
}

.menu-not-selected-previous-item {
  background-color: #999;
  border-top: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: none;
}

.menu-not-selected {
  background-color: #999;
  border-top: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.menu-root {
  background-color: #aaa;
  border: 2px solid black;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  width: 65vw;
  height: 50vh;
  overflow-y: scroll;
}
