body {
  margin: 2em;
  background-color: black;
}

div.section {
  background-color: #888;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  border-radius: 10px;
  border: 1px solid white;
}

div.system-info {
  height: 15vh;
}

div.system-banner {
  height: 15vh;
}

.system-title {
  background-color: #666;
  font-size: 3vh;
  text-align: center;
  color: white;
  border-radius: 5px;
  border: 1px solid #222;
}

img.system-banner {
  height: 15vh;
  max-width: auto;
  border-radius: 5px;
}

.game {
  text-align: start;
  padding-left: 2em;
  padding-right: 2em;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.not-selected {
  color: black;
}

#selected {
  border: 1px solid #aaa;
  background-color: #384862;
  border-radius: 5px;
  box-shadow: 5px 5px 15px #444;
  height: 10vh;
}

.arrow {
  font-size: 0.75em;
  vertical-align: middle;
}

.vertical-spacer {
  margin: 0;
  padding: 2.75vh;
}

.game-list {
  height: 70vh;
  overflow-y: scroll;
}

.game-image {
  margin: 1vh;
  height: 8vh;
  width: auto;
}
